@import "tailwindcss";


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}


@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float2 {
  animation: float 5s ease-in-out infinite;
}

.animate-float3 {
  animation: float 6s ease-in-out infinite;
}

.animate-float4 {
  animation: float 7s ease-in-out infinite;
}